.footer{
    margin-top: 3.3em;
    font-family: 'Overpass', sans-serif;
    min-height: 41vh;
    background: var(--Very-dark-black-blue);
    border-top-right-radius: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 3.5em;
    padding-bottom: 1.5em;
}

.footer-list{
    list-style: none;
    margin-top: 4em;
}

.footer-list li a{
    color: var(--Grayish-blue);
    text-decoration: none;
}

.footer-list li:nth-child(1){
    margin-bottom: 1.2em;
    font-weight: bold;
}

.footer-list li:nth-child(n+2){
    margin: .5em 0px;
}
