@import url(https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap);

/* CSS IMPORT */
@import url(./menu.css);
@import url(./description.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
  margin-top: 5em;
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

:root {
  /* PRIMARY */
  --Light-red-text: hsl(356, 100%, 66%);
  --Very-light-red-hover: hsl(355, 100%, 74%);
  --Very-dark-blue: hsl(208, 49%, 24%);

  /* NEUTRAL */
  /* text */
  --White: hsl(0, 0%, 100%);
  /* footer text */
  --Grayish-blue: hsl(240, 2%, 79%);
  /* body copy */
  --Very-dark-grayish-blue: hsl(207, 13%, 34%);
  /* footer background */
  --Very-dark-black-blue: hsl(240, 10%, 16%);

  /* GRADIENT */

  /* Background gradient - Intro/CTA mobile nav: */
  --Very-light-red: hsl(13, 100%, 72%);
  --Light-red: hsl(353, 100%, 62%);

  /* Background gradient - body: */
  --Very-dark-gray-blue: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
}
